@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-background-hero-dots-black: radial-gradient(
    circle,
    #0000002f 1px,
    transparent 1px
  );
  --color-background-hero-dots-white: radial-gradient(
    circle,
    #ffffff27 1px,
    transparent 1px
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bangers: var(--font-bangers);
  --font-comic-neue: var(--font-comic-neue);
  --color-comic-red: #ff4444;
  --color-comic-yellow: #ffe44d;
  --color-comic-blue: #0f52ba;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .section-hero {
    @apply relative flex min-h-screen items-center overflow-hidden pt-16;
    background-size: 20px 20px;
    background-position: 0 0;
  }

  .hero-dots-black {
    background-image: var(--color-background-hero-dots-black);
  }

  .hero-dots-white {
    background-image: var(--color-background-hero-dots-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comic-neue), sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-attachment: fixed;
}
